@layer base, mantine, components;

html {
  overflow-x: hidden;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  overflow-x: hidden;
}

.dark .apexcharts-tooltip {
  background: hsl(var(--background)) !important;
  color: white !important;
  box-shadow: none !important;
  border: 1px solid hsl(var(--border));
}

.dark .apexcharts-tooltip-title {
  background: hsl(var(--background)) !important;
  border-bottom: 1px solid hsl(var(--border)) !important;
}

.dots-overlay {
  background-image: url("https://assets-global.website-files.com/5db99670374d1d829291af4f/62daea0efbb2224d4971a91c_Dot.svg");
  background-position: 0 0;
  background-size: 20px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
