.root {
  border-radius: var(--mantine-radius-lg);
  background: linear-gradient(
    180deg,
    hsl(var(--primary) / 0.95),
    hsl(var(--primary) / 0.9)
  );
  position: relative;
  overflow: hidden;
  @mixin dark {
    background: hsl(var(--secondary));
  }
}

.card {
  position: relative;
  background: #467bed;
  border-radius: var(--mantine-radius-md);
  color: hsl(var(--primary-foreground));
  padding: var(--mantine-spacing-lg);
  @mixin dark {
    color: hsl(var(--foreground));
    background: #1a2435;
    @media (max-width: $mantine-breakpoint-md) {
      background: #2a374c;
    }
  }
  @media (max-width: $mantine-breakpoint-md) {
    display: flex;
    gap: var(--mantine-spacing-xs);
    padding: var(--mantine-spacing-xs);
  }
}

.icon {
  height: 80px;
  width: 80px;
  @media (max-width: $mantine-breakpoint-lg) {
    height: 60px;
    width: 60px;
    max-width: 60px;
    flex-shrink: 0;
  }
}

.text {
  @mixin light {
    color: hsl(var(--primary-foreground));
  }
  @mixin dark {
    color: hsl(var(--foreground));
  }
}

.points {
  font-size: 24px;
  @media (max-width: $mantine-breakpoint-md) {
    font-size: 20px;
  }
}

.bgPath {
  fill: hsl(var(--primary));
  @mixin dark {
    fill: color-mix(in srgb, hsl(var(--secondary)) 98%, white);
  }
}
