.root {
  &[data-variant="mantine-shadcn-ui"] {
    font-weight: 500;
    color: hsl(var(--foreground) / 0.6);
    transition: color 0.15s;
    &:hover {
      color: hsl(var(--foreground) / 0.8);
    }
  }
}
