.header {
  &[data-variant="proghours-ui"] {
    background-color: hsl(var(--background));
    border-color: hsl(var(--border) / 0.75);
  }
}

.navbar {
  &[data-variant="proghours-ui"] {
    background-color: hsl(var(--background));
    border-color: hsl(var(--border));
  }
}
