.input {
  &[data-variant="proghours-ui"] {
    border: 1px solid;
    border-color: hsl(var(--border));
    background: hsl(var(--background));
    &:focus {
      border-color: hsl(var(--primary));
    }
    &::placeholder {
      color: hsl(var(--muted-foreground));
    }
  }
}
