.dropdown {
  @mixin dark {
    background-color: hsl(var(--background));
    border-color: hsl(var(--border));
  }
  @mixin light {
    background-color: hsl(var(--background));
    border-color: hsl(var(--border));
  }
}

.item {
  &:hover {
    background: hsl(var(--secondary));
  }
}
