.root {
  &[data-variant="proghours-ui"] {
    .control {
      border: 0;
      background: hsl(var(--secondary));
      &[data-active="true"] {
        background: hsl(var(--primary));
      }
    }
  }
}
