.root {
  &[data-variant="proghours-ui"] {
    background: linear-gradient(
      to bottom right,
      hsl(var(--secondary) / 0.75),
      hsl(var(--secondary) / 0.5)
    );
    @mixin dark {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px -4px,
        rgba(0, 0, 0, 0.04) 0px -1px 1px inset,
        rgba(255, 255, 255, 0.06) 0px 2px 0px inset;
    }
    @mixin light {
      border: 1px solid;
      border-color: hsl(var(--border));
      background: white;
      box-shadow: var(--mantine-shadow-xs);
    }
  }
}
