.input {
  &[data-variant="proghours-ui"] {
    box-shadow: var(--mantine-shadow-xs);
    &:focus-within {
      border-color: hsl(var(--primary));
    }
    border-color: hsl(var(--border));
    background: hsl(var(--background));
    input {
      &::placeholder {
        color: hsl(var(--muted-foreground));
      }
    }
  }
}

.section {
  --mantine-color-placeholder: hsl(var(--muted-foreground));
}
