.input {
  &[data-variant="proghours-ui"] {
    border: 1px solid;
    box-shadow: var(--mantine-shadow-xs);
    border-color: hsl(var(--border));
    background: hsl(var(--background));
    &:focus {
      border-color: hsl(var(--primary));
    }
  }
}

.section {
  --mantine-color-placeholder: hsl(var(--muted-foreground));
}
