.root {
  &[data-variant="proghours-ui-primary"] {
    color: hsl(var(--primary-foreground));
  }
  &[data-order="1"] {
    line-height: 1.1;
    font-size: 48px;
    @media (max-width: $mantine-breakpoint-lg) {
      font-size: 40px;
    }
  }
  &[data-order="2"] {
    font-size: 40px;
    @media (max-width: $mantine-breakpoint-lg) {
      font-size: 36px;
    }
  }
  &[data-order="3"] {
    font-size: 32px;
    @media (max-width: $mantine-breakpoint-lg) {
      font-size: 28px;
    }
  }
}
