.stats {
  @media (max-width: $mantine-breakpoint-md) {
    border-radius: var(--mantine-radius-md);
    margin-top: var(--mantine-spacing-sm);
    margin-bottom: var(--mantine-spacing-lg);
  }

  @mixin dark {
    @media (max-width: $mantine-breakpoint-md) {
      background: hsl(var(--secondary));
    }
  }
  @mixin light {
    @media (max-width: $mantine-breakpoint-md) {
      border: 1px solid hsl(var(--border));
    }
  }
}
