.mantine-DataGrid-wrapper {
  gap: 0;
}

.mantine-DataGrid-scrollArea {
  padding-bottom: 0;
}

.mantine-DataGrid-pagination {
  padding: 6px 24px 6px 24px;
  border-top: 1px solid #e9e9e9;
}

.mantine-DataGrid-pagination .mantine-Text-root {
  font-size: 14px;
}

.mantine-DataGrid-pagination button {
  height: 30px;
  min-width: 30px;
}

.mantine-DataGrid-pagination .mantine-Pagination-item {
  font-size: 14px;
}

.mantine-DatePicker-dropdown tbody tr td,
.mantine-DatePicker-dropdown thead tr th {
  padding: 0 !important;
}

.mantine-Paper-root {
  /* border: 1px solid rgba(250, 250, 250, 0.05); */
  box-shadow: inset 1px 1px 4px 1px rgba(166, 182, 255, 0.075);
  background: linear-gradient(to right bottom, #1e212e 1.34%, #191b27 98.64%);
}
