@font-face {
  font-family: "Graphik";
  src: url("fonts/Graphik-Regular.woff2") format("woff2"),
    url("fonts/Graphik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Bold.woff2") format("woff2"),
    url("fonts/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Medium.woff2") format("woff2"),
    url("fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
