@tailwind base;
@tailwind components;
@tailwind utilities;

/* Profile styles */
/* .bg-profile {
  background-image: linear-gradient(to left, rgb(95, 78, 244), rgb(95, 78, 244)),
    url("/image/profile-bg.png");

  background-size: cover;
  background-position: center center;
  height: 450px;
} */

/* Default styles */
body {
  @apply text-gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold text-dark;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}

/* form styles */
.form-group {
  @apply relative;
}
.form-group label {
  @apply absolute left-0 transition-all duration-200 top-3;
}
.form-group input {
  @apply w-full pt-5 pb-1 border-b;
  @apply hover:shadow-input-primary;
  @apply focus:outline-none focus:border-b focus:border-primary focus:shadow-input-primary;
}
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  @apply text-sm -top-1 text-primary;
}

.error-message {
  @apply mt-1 text-sm text-red-500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Button Styles*/
.btn-primary {
  @apply px-5 py-2 text-white rounded-md bg-primary;
}

.btn-outline {
  @apply px-5 py-2 text-center text-gray-600 transition-all duration-300 border border-gray-200 rounded-md hover:border-red-500 hover:bg-red-500 hover:text-white;
}

/* Toast styles */
.toast {
  @apply font-sans text-sm shadow;
}

/* Navbar link styles */
.nav-item {
  @apply flex items-center px-4 py-3 rounded-lg;
}
.nav-item svg {
  @apply w-6 h-6 mr-2 text-gray-500;
}
.nav-item.active {
  @apply font-medium bg-primary bg-opacity-10 text-primary;
}
.nav-item.active svg {
  @apply text-primary;
}

/* Settings form styles */
.settings-form {
  @apply flex flex-col py-10 border-b border-lightGrey;
}

.input-box {
  @apply w-full px-4 py-1 text-base border-2 border-gray-200 rounded-md focus:outline-none focus:border-2 focus:border-primary;
}

/* table styles */

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table tr {
  text-align: left;
}

table tr {
  /* border-top: 1px solid #ebeaed; */
  @apply border-b border-gray-100;
}

table tr th {
  /* border-top: 1px solid #ebeaed; */
  @apply border-b-[2px] border-gray-100 font-medium;
}

/* table td,
table th {
  @apply px-6 py-4;
} */

table td[data-idx] {
  @apply px-4 py-2 text-center;
}
table td[data-problem-name] {
  @apply relative px-4 py-2;
}
table td[data-problem-name] input.inset {
  @apply absolute inset-0 px-6 rounded focus:outline-none focus:ring-2 focus:ring-inset ring-primary;
}
table td[data-verdict] {
  @apply w-10 px-4 py-2;
}
table td[data-problem\.difficulty] {
  @apply w-10 px-6 py-2;
}
table td[data-solvetime] {
  @apply relative;
}
table td[data-solvetime] input {
  @apply absolute inset-0 px-6 rounded focus:outline-none focus:ring-2 focus:ring-inset ring-primary;
}
table td[data-solvedat] {
  @apply relative w-48;
}
table td[data-solvedat] .react-datepicker-wrapper {
  @apply absolute inset-0;
}
table td[data-solvedat] .react-datepicker__input-container {
  @apply w-full h-full;
}
table td[data-solvedat] .react-datepicker__input-container input {
  @apply w-full h-full px-6;
}
table tr th:first-child {
  @apply text-center;
}
table {
  border-style: hidden !important;
  @apply rounded-lg shadow;
}
table td[data-tags] {
  @apply px-6 py-2;
}
table td[data-actions] {
  @apply px-4 py-2;
}

/* tables */
/* 
td[data-verdict="WA"] span {
  @apply p-2 text-sm font-medium text-red-700 bg-red-100 rounded;
}

td[data-verdict="AC"] span {
  @apply p-2 text-sm font-medium rounded text-emerald-700 bg-emerald-100;
}

td[data-verdict="RTE"] span {
  @apply p-2 text-sm font-medium text-pink-700 bg-pink-100 rounded;
}

td[data-verdict="TLE"] span {
  @apply p-2 text-sm font-medium rounded text-amber-900 bg-amber-100;
} */

/* td[data-solvetime] span {
  @apply ml-6;
} */
/* 
td[data-solvetime] {
  @apply before:w-2 before:h-2 before:bg-cyan-500 before:top-[15px] before:block before:relative;
} */
