@tailwind base;
@tailwind components;
@tailwind utilities;

/* Profile styles */
/* .bg-profile {
  background-image: linear-gradient(to left, rgb(95, 78, 244), rgb(95, 78, 244)),
    url("/image/profile-bg.png");

  background-size: cover;
  background-position: center center;
  height: 450px;
} */

/* Default styles */
body {
  @apply text-gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold text-dark;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}

/* form styles */
.form-group {
  @apply relative;
}
.form-group label {
  @apply absolute left-0 transition-all duration-200 top-3;
}
.form-group input {
  @apply relative z-20 w-full pt-5 pb-1 border-b bg-transparent;
  @apply hover:shadow-input-primary;
  @apply focus:outline-none focus:border-b focus:border-primary focus:shadow-input-primary;
}
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  @apply z-30 text-sm -top-1 text-primary;
}

.error-message {
  @apply mt-1 text-sm text-red-500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Button Styles*/
.btn-primary {
  @apply px-5 py-2 text-white rounded-md bg-primary;
}

.btn-outline {
  @apply px-5 py-2 text-center text-gray-600 transition-all duration-300 border border-gray-200 rounded-md hover:border-red-500 hover:bg-red-500 hover:text-white;
}

/* Toast styles */
.toast {
  @apply font-sans text-sm shadow;
}

/* Navbar link styles */
.nav-item {
  @apply flex items-center px-4 py-3 rounded-lg;
}
.nav-item svg {
  @apply w-6 h-6 mr-2 text-gray-500;
}
.nav-item.active {
  @apply font-medium bg-primary bg-opacity-10 text-primary;
}
.nav-item.active svg {
  @apply text-primary;
}

/* Settings form styles */
.settings-form {
  @apply flex flex-col py-10 border-b border-lightGrey;
}

.input-box {
  @apply w-full px-4 py-1 text-base border-2 border-gray-200 rounded-md focus:outline-none focus:border-2 focus:border-primary;
}

/*------- Table Styles ------ */
/*----------------------------*/
table {
  @apply w-full;
}
table th {
  @apply text-left;
}
table th,
table td {
  @apply px-5 py-2;
}
table tr th:first-child,
table tr td:first-child {
  @apply w-16 text-center;
}

/*------- Submissions Table ------ */
/*--------------------------------*/
table td[data-problem-name] {
  @apply w-[300px] relative px-4 py-2;
}
table td[data-problem-name] input.inset {
  @apply absolute inset-0 px-6 rounded focus:outline-none focus:ring-2 focus:ring-inset ring-primary;
}
table td[data-verdict] {
  @apply w-10 px-2;
}
table td[data-problem\.difficulty] {
  @apply w-10;
}
table td[data-solve_time] {
  @apply relative;
}
table td[data-solve_time] input {
  @apply absolute inset-0 px-6 rounded focus:outline-none focus:ring-2 focus:ring-inset ring-primary;
}
table td[data-solved-at] {
  @apply relative w-48;
}
table td[data-solved-at] .react-datepicker-wrapper {
  @apply absolute inset-0;
}
table td[data-solved-at] .react-datepicker__input-container {
  @apply w-full h-full;
}
table td[data-solved-at] .react-datepicker__input-container input {
  @apply w-full h-full px-6;
}
table td[data-tags] {
  @apply w-[560px] px-6 py-2;
}
table td[data-actions] {
  @apply px-4 py-2;
}
table td[data-tags] .suggested-tag:hover button {
  @apply block;
}
